
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">GiftShopApp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>

          <div mdbDropdown class="dropdown">
            <a
              class="btn btn-primary dropdown-toggle"
              role="button"
              id="dropdownMenuLink"
              mdbDropdownToggle
              aria-expanded="false"
            >
              Role
            </a>
            <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
          <li class="nav-item">
            <a class="nav-link" routerLink="register">Sign up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="login">Sign in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="addproduct">Add Gift</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="listproduct">List Gift</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" routerLink="login">Track My order</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="listorders">List order</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="payment">Payment</a>
          </li>



          <li class="nav-item">
            <a class="nav-link" routerLink="support">
              Help Assistance</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Log out</a>
          </li>
          
          
        </ul>
        
      </div>
    </div>
  </nav>